<div class="card">
    <div class="card-tabs">
	{{#each userPets}}
	<ul class="tabs tabs-fixed-width">
	    <li class="tab"><a href="{{this.petame}}">{{this.petname}}</a></li>
	</ul>
	{{/each}}
    </div> <!-- close card tabs -->
    {{#each this.userPets}}
    <div value="{{this.id}}" class="pet" class="col s12">
	<div class="card horizontal">
	    <div class="card-image">
		<img src="{{this.image}}" id="{{this.petname}}" alt="{{this.petname}}">
		<span class="card-title">{{this.petname}}</span>
	    </div>
	    <div class="card-stacked">
		<div class="card-content">
		    <div class="about">
			<p>{{this.about}}</p>
		    </div>
		    <table>
			<thead>
			    <tr>
				<th>Birthday</th>
				<th>Gender</th>
				<th>Species</th>
				<th>Breed</th>
				<th>Update</th>
			    </tr>
			</thead>

			<tbody>
			    <tr>
				<td>{{this.birthday}}</td>
				<td>{{this.gender}}</td>
				<td>{{this.species}}</td>
				<td>{{this.breed}}</td>
				<td><a  id="updateCurrPet" class="btn-floating btn waves-effect waves-light teal"><i class="material-icons">add</i></a></td>
			    </tr>
			</tbody>
		    </table>
		</div>	<!-- content -->	
	    </div>  <!-- stacked -->
	</div> <!-- horizontal -->
    </div> <!-- pet div -->
    {{/each}}
</div> <!-- card -->


